torch>=1.7.0
torchvision>=0.8.0
batchgenerators
dicom2nifti
einops
h5py
hiddenlayer
matplotlib
medpy
monai
natsort
nibabel
numpy
pandas
Pillow
requests
scikit_learn
scipy
setuptools
SimpleITK
thop
tifffile
timm
tqdm
unittest2
wandb
