torch==1.10.1
torchvision==0.11.2
batchgenerators
dicom2nifti
einops
h5py
hiddenlayer
matplotlib
medpy
monai
natsort
nibabel
numpy
pandas
Pillow
requests
scikit_learn
scipy
setuptools
SimpleITK
thop
tifffile
timm
tqdm
unittest2
wandb
